#login_box_total .container h1 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 23px;
	text-align: center;
	text-indent: 6px;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: #EB0000;
}

#login_box_total .container .tabs {
	width: 80%;
	margin-bottom: 29px;
	border-bottom: 1px solid #d9d9d9; /*옅은 회색*/
}

#login_box_total .container .tabs .tab {
	display: inline-block;
	margin-bottom: -1px;
	padding: 20px 130px 10px;
	cursor: pointer;
	letter-spacing: 0;
	border-bottom: 1px solid #d9d9d9;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	transition: all 0.1s ease-in-out;
}

#login_box_total .container .tabs .tab a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #d9d9d9;
	transition: all 0.1s ease-in-out;
}

#login_box_total .container .tabs .tab.active a, #login_box_total .container .tabs .tab:hover a
	{
	color: #EB0000;
}

#login_box_total .container .tabs .tab.active {
	border-bottom: 1px solid #EB0000;
}

#login_box_total .container .content form {
	position: relative;
	width : 80%;
	height: 190px;
}

#login_box_total .container .content label:first-of-type, #login_box_total .container .content input:first-of-type,
	#login_box_total .container .content .more:first-of-type {
	-moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
	-webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
	animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}

#login_box_total .container .content label:nth-of-type(2), #login_box_total .container .content input:nth-of-type(2),
	#login_box_total .container .content .more:nth-of-type(2) {
	-moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
	-webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
	animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}

#login_box_total .container .content label:nth-of-type(3), #login_box_total .container .content input:nth-of-type(3),
	#login_box_total .container .content .more:nth-of-type(3) {
	-moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
	-webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
	animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
}

#login_box_total .container .content label {
	font-size: 12px;
	color: #EB0000;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#login_box_total .container .content label:not([for='remember']) {
	display: none;
}

#login_box_total .container .content input.inpt {
	font-size: 14px;
	display: block;
	width: 100%;
	height: 42px;
	margin-bottom: 12px;
	padding: 16px 13px;
	color: #999999;
	border: 2px solid #d9d9d9;
	background: transparent;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#login_box_total .container .content input.inpt::-webkit-input-placeholder {
	font-size: 14px;
	color: #999999;
	font-family: 'Lato', sans-serif;
}

#login_box_total .container .content input.inpt:-moz-placeholder {
	font-size: 14px;
	color: #999999;
	font-family: 'Lato', sans-serif;
}

#login_box_total .container .content input.inpt::-moz-placeholder {
	font-size: 14px;
	color: #999999;
	font-family: 'Lato', sans-serif;
}

#login_box_total .container .content input.inpt:-ms-input-placeholder {
	font-size: 14px;
	color: #999999;
	font-family: 'Lato', sans-serif;
}

#login_box_total .container .content input.inpt:focus {
	border-color: #999999;
}

#login_box_total .container .content input.submit {
	font-size: 12px;
	line-height: 42px;
	display: block;
	width: 100%;
	height: 42px;
	cursor: pointer;
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #EB0000;
	border: 2px solid #EB0000;
	background: transparent;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 5px;
}

#login_box_total .container .content input.submit:hover {
	background-color: #EB0000;
	color: #ffffff;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#login_box_total .container .content input:focus {
	outline: none;
}

#login_box_total .container .content .checkbox {
	margin-top: 4px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 0;
	height: 0;
	margin: 17px -1px;
	padding: 0;
	border: 0;
	opacity: 0;
	visibility: hidden;
}

#login_box_total .container .content .checkbox+label {
	vertical-align: middle;
	display: inline-block;
	width: 50%;
}

#login_box_total .container .content .checkbox+label:before {
	content: "\A";
	color: #999999;
	font-family: Verdana;
	font-weight: bold;
	font-size: 8px;
	line-height: 10px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: transparent;
	border: 1px solid #d9d9d9;
	width: 11px;
	height: 11px;
	margin: -2px 8px 0 0;
}

#login_box_total .container .content .checkbox:checked+label:before {
	content: "✓";
}

#login_box_total .container .content .submit-wrap {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#login_box_total .container .content .submit-wrap a {
	font-size: 12px;
	display: block;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	color: #999999;
}

#login_box_total .container .content .submit-wrap a:hover {
	text-decoration: underline;
}

#login_box_total .container .content .signup-cont {
	display: none;
}

@keyframes slideIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    margin-left: -320px;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-left: 0px;
  }
}
@-webkit-keyframes slideIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    margin-left: -320px;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-left: 0px;
  }
}