@charset "UTF-8";
/* 전체 css */
a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

li {
	text-align: -webkit-match-parent;
}

input, select, textarea, button {
	font-size: 14px;
	letter-spacing: -0.03em;
	color: #242428;
}

input, select, button, img, textarea {
	vertical-align: middle;
	text-rendering: auto;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
}

button {
	cursor: pointer;
	overflow: visible;
	border: 0;
	background-color: transparent;
}

#content {
	width: 1050px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

#play_tickect_info {
	margin-top: 80px;
	margin-bottom: 100px;
}

#content_p_i {
	border: 1px;
	height: 500px;
	margin-bottom: 50px;
}

#content_poster {
	width: 40%;
	height: 100%;
	float: left;
}

#content_playInfo {
	width: 58%;
	height: 100%;
	padding-left: 5px;
	float: right;
}

#content_detail {
	margin-bottom: 100px;
}

/* ticketingInfo css*/
#content_ticketingInfo_tickecting {
	height: 350px;
	clear: both;
}

.content_ticketingInfo {
	display: flex;
	height: 320px;
	border: 1px solid #878d95;
	border-radius: 10px;
	box-sizing: border-box;
}

/* 날짜 선택*/
.play_reserve_date {
	margin: 0;
	display: flex;
	padding: 5px 5px 13px 23px;
	width: 35%;
}

.play_reserve_heading {
	margin-bottom: 18px;
	width: 100px;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: #242428;
}

.play_reserve_step {
	display: block;
	margin-bottom: 4px;
	color: #fa2828;
}

.play_reserve_title {
	font-weight: 700;
}

.datepicker {
	display: block;
	padding: 20px 5px 13px 4px;
	border: 0;
	border-radius: 0;
	font-weight: bold;
}

.datepicker_triangle {
	position: absolute;
	left: 50px;
}

.datepicker_month-container {
	float: none;
}

#datepicker_header {
	border-top-right-radius: 0.3rem;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: #fff;
}

#calendar_header {
	position: relative;
	padding-bottom: 10px;
	text-align: center;
}

#calendar_nav {
	position: relative;
	padding-bottom: 10px;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}

#calendar_title {
	top: 0;
	left: 50%;
	/* margin-bottom : 5%; */
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	color: black;
	transform: translateX(-50%);
	letter-spacing: -0.03em;
}

#calendar_nav_btn_prev, #calendar_nav_btn_next {
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 0;
}

#calendar_nav_btn_prev {
	margin-right: 25%;
}

#calendar_nav_btn_next {
	margin-left: 25%;
}

.day_names {
	margin: 3px 0 7px;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	letter-spacing: -0.03em;
	text-align: center;
}

.day_name:first-child {
	color: #FF0000;
}

.day_name:last-child {
	color: #0000CD;
}

.calandar_content {
	width: 250px;
	margin: 0;
	text-align: center;
	padding: 0;
	display: block;
	font-size: 0.8rem;
	color: #000;
	letter-spacing: -0.03em;
}

.calandar_week {
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.calandar_day, .calandar_day.today, div.sat, div.sat.today, div.sun, div.sun.today
	{
	/*기본적인 날 css*/
	margin: 0;
	width: 34px;
	height: 34px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
	box-sizing: border-box;
	cursor: default;
	display: inline-block;
	text-align: center;
	padding: 0;
	white-space: nowrap;
	letter-spacing: -0.03em;
	color: lightgray;
	font-weight: normal;
}
/* 토요일, 일요일 css */
.sun, div.sun.a.event {
	color: #FF0000;
}

.sat, div.sat.a.event {
	color: #0000CD;
}

.calandar_day a.event {
	/*공연이 있는 날에만 다른 css적용*/
	cursor: pointer;
	color: black;
	font-weight: bold;
}

.sat a.event {
	color: #0000CD;
	font-weight: bold;
}

.sun a.event {
	color: #FF0000;
	font-weight: bold;
}

.sat.today a.event, .sun.today a.event, .calandar_day.today a.event {
	background-color: black;
	color: white;
	border-radius: 50px;
	font-weight: bold;
}
/* 오늘날짜에 css*/
.calandar_day.today, div.sat.today, div.sun.today {
	background-color: black;
	color: white;
	border-radius: 50px;
	font-weight: normal;
}

.day_name {
	margin: 10px 0 0 0;
	width: 34px;
	font-size: 17px;
	line-height: 16px;
	color: #242428;
	display: inline-block;
	white-space: nowrap;
}

.datepicker_content {
	width: 298px;
	margin: 0;
	text-align: center;
}
/* 회차 선택 */
.play_reserve_time {
	display: flex;
	width: 35%;
	align-items: flex-start;
	padding: 5px 0 20px 24px;
	border-left: 1px solid #ecedf2;
}

.play_time_list {
	padding: 20px 24px 20px 24px;
	width: 257px;
	height: 100%;
	overflow-y: overlay;
}

.play_time_item {
	border: 0;
	vertical-align: top;
}

.play_time_btn {
	padding: 11px 18px 11px 15px;
	width: 100%;
	border: 1px solid black;
	border-radius: 6px;
	text-align: left;
	background-color: transparent;
}

.play_time {
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #242428;
}
/* 예매가능좌석 */
.play_reserve_seat {
	flex: 1;
	width: 35%;
	padding: 15px 0 20px 20px;
	border-left: 1px solid #ecedf2;
	border-radius: 0 10px 10px 0;
	background: #f8f9fa;
}

.play_seat_list {
	overflow-y: overlay;
	padding-left: 5px;
	padding-right: 30px;
	max-height: 222px;
}

.play_seat_item {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	line-height: 18px;
	border: 0;
	vertical-align: top;
}

.play_seat_title {
	color: #62676c;
	display: inline-block;
	padding-right: 120px;
}

.play_seat_remain {
	display: inline-flex;
	font-weight: bold;
	color: black;
	font-size: 20px;
	height: 30px;
}

.reservation_button {
	margin-top: 30px;
	margin-right: 4px;
	background-color: red;
	border: none;
	color: white;
	width: 30%;
	height: 50px;
	border-radius: 30px;
	cursor: pointer;
}

/* playInfo css */
.playInfo_table {
	width: 100%;
	padding-left: 15px;
	font-size: 1.1em;
	font-family: "Poppins", sans-serif;
}

tr .first_column {
	font-weight: bold;
	color: rgba(97, 97, 97, 1);
}

/*playDetail css*/
@import
	url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200,400&display=swap")
	;

.tab-content {
	display: none;
}

.tab-ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.tab-ul li {
	float: left;
	width: 33.3%;
	text-align: center;
	list-style: none;
	padding: 25px 0;
	cursor: pointer;
}

li.active {
	background-color: red;
	color: #fff;
}

.tab-content {
	border-top: 1px solid #333;
	padding-top: 15px;
}

/* 예매 취소 정보 */
section.cancel_notice {
	margin-top: 0;
	display: block;
	font-size: 14px;
	font-weight:bold;
	letter-spacing: -0.03em;
	color: #242428;
	margin-left : 5%;
}

.cancel_toggle_btn {
	position: relative;
	width: 100%;
	padding: 26px 0;
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
	color: #242428;
	text-align: left;
	overflow: visible;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.cancel_toggle_title {
	margin: 40px 0 16px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: #242428;
}

.cancel_toggle_content {
	font-family: 'Notosans', -apple-system, BlinkMacSystemFont,
		Apple SD Gothic Neo, 'Malgun Gothic', Arial, sans-serif;
	font-size: 14px;
	letter-spacing: -0.03em;
	color: #242428;
}

.detail_info_tbl_marro {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5%;
	padding: 0px;
	margin-top: 15px !important;
	border-collapse: collapse; 
	border-spacing: 0;
	font-family: 'Notosans', -apple-system, BlinkMacSystemFont,
		Apple SD Gothic Neo, 'Malgun Gothic', Arial, sans-serif;
	font-size: 14px;
	letter-spacing: -0.03em;
	color: #242428;
	font-size: 13px;
	color: rgb(118, 118, 118);
	table-layout: fixed;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 692px;
	
	letter-spacing:-1px;
}
.detail_info_tbl_marro th{
	text-align: center;
	background: rgb(242, 242, 240);
}
.detail_info_tbl_marro td:first-child, .detail_info_tbl_marro th:first-child{
	width: 20%;
	font-weight: bold;
	background: rgb(242, 242, 240);
}
.detail_info_tbl_marro td{
	padding-left : 2%;
}

/* 모달 창 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  width : 711.458px;
  border: 10px solid #888;
	border-radius: 10px;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.modal-content h1{
	padding : 6px 0;
	background-color: rgba(0, 0, 0, 0.1);
	padding-left : 3%;
}
.modal-content p{
	padding-left : 5%;
	padding-right : 5%;
}

.close {
  display: block;
  position:static;
  float:right;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 상세정보 탭 css */

.common_container {
    flex: 1;
    padding-bottom: 160px;
}
.common_section.section_product_content {
	width : 96%
}
main {
    display: block;
}
.section_product_info {
    display: flex;
    position: relative;
    margin-top: 64px;
    padding-bottom: 40px;
}
.common_section {
    margin: 0 auto;
    width: 1120px;
}
section {
    display: block;
}
.section_product_tabcont:first-child {
    margin-top: 0;
}
.section_product_tabcont {
    padding-top: 40px;
}
.product_content_subtit:first-of-type {
    margin-top: 0;
}
.product_content_subtit {
    margin: 40px 0 12px;
    line-height: 28px;
    color: #242428;
}
h3 {
	padding : 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.product_editor {
    font-size: 15px;
    line-height: 22px;
    color: #62676c;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
b {
    font-weight: bold;
}
.section_product_tabcont .product_banner {
    margin-bottom: 12px;
}
.product_banner .product_banner_img {
    width: 100%;
    vertical-align: top;
}
.product_detail_tabcontent img {
    max-width: 100%;
}
img {
    border: 0;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.product_detail_tabcontent img {
    max-width: 100%;
}
.product_info_table {
    border-top: 1px solid #cfd0d7;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
}
.product_info_table table {
    width: 100%;
    color: #242428;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}
caption {
    font-style: normal;
}
caption {
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
caption {
    display: table-caption;
    text-align: -webkit-center;
    visibility: hidden;
}
caption span {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.product_info_table th {
    background: #f8f9fa;
    font-weight: 400;
}
.product_info_table th, .product_info_table td {
    padding: 14px 15px;
    border-bottom: 1px solid #ecedf2;
}