@charset "UTF-8";

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  text-align: left;
  padding: 10px;
}

th {
  background-color: #eee;
}

input[type=text], input[type=password], select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px 0;
  width: 100%;
  background-color: #f8f8f8;
}

input[type=text]:focus, input[type=password]:focus, select:focus {
  border: 2px solid #EB0000;
}

input[type=submit], input[type=button] {
  background-color: #EB0000;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type=submit], input[type=button] {
  background-color: #EB0000;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 5px auto 0;
  cursor: pointer;
  border-radius: 5px;
}

form > font {
  color: #EB0000;
}

.alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
}

form {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
