@charset "UTF-8";

* {
	     font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: #EB0000;	
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

td:first-child {
  width: 200px;
  background-color: #f2f2f2;
  text-align: left;
}

input[type='submit'], input[type='button'] {
  padding: 10px;
  background-color: #EB0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type='submit']:hover, input[type='button']:hover {
  background-color: #EB0000;
}

font[color='red'] {
  font-size: 0.8em;
  font-style: italic;
  display: block;
  margin-top: 10px;
}
