<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marroticket.mapper.PlayMapper">

	<resultMap type="com.marroticket.umember.play.domain.PlayVO"
		id="play">
		<id column="p_number" property="pnumber" />
		<result column="p_name" property="pname" />
		<result column="P_STARTDATE" property="pstartDate" />
		<result column="P_CLOSEDATE" property="pcloseDate" />
		<result column="P_RUNNINGTIME" property="prunningTime" />
		<result column="P_THEATERNAME" property="ptheaterName" />
		<result column="P_THEATERADDRESS" property="ptheaterAddress" />
		<result column="P_THEATERMAP" property="ptheaterMap" />
		<result column="P_AGENCY" property="pagency" />
		<result column="P_RATINGS" property="pratings" />
		<result column="P_CASTING" property="pcasting" />
		<result column="P_TICKETOPENDATE" property="pticketOpenDate" />
		<result column="P_PLOT" property="pplot" />
		<result column="P_SEATTYPE" property="pseatType" />
		<result column="P_SEATNUMBER" property="pseatNumber" />
		<result column="P_TICKETPRICE" property="pticketPrice" />
		<result column="P_GENRE" property="pgenre" />
		<result column="P_POSTER" property="pposter" />
		<!-- <result column="P_FIRSTPLAY" property="pfirstPlay" />
		<result column="P_SECONDPLAY" property="psecondPlay" /> -->
		<result column="P_AGREE" property="pagree" />
		<result column="P_AMENDMENTAPPROVED"
			property="pamendmentApproved" />
		<result column="P_REGISTRATIONAPPROVAL"
			property="pregistrationApproval" />
		<result column="T_NUMBER" property="tnumber" />
	</resultMap>


	<select id="playCurrentList"
		resultType="com.marroticket.umember.play.domain.PlayVO">
		<![CDATA[ select p_poster, 
		p_name, 
		p_theaterName, 
		p_startDate, 
		p_closeDate, 
		p_runningtime 
		from Play where to_Date(p_closeDate,'YYYY/MM/DD') >= to_Date(sysdate,'YYYY/MM/DD') 
			and to_Date(sysdate,'YYYY/MM/DD') >= to_Date(p_startDate,'YYYY/MM/DD') 
		order by p_startDate ]]>
	</select>

	<select id="playPassList"
		resultType="com.marroticket.umember.play.domain.PlayVO">
		<![CDATA[
		SELECT p_poster,
		p_name,
		p_theaterName,
		p_startDate,
		p_closeDate,
		p_runningtime
		FROM Play
		WHERE to_Date(sysdate,'YYYY/MM/DD')
		>= to_Date(p_closeDate,'YYYY/MM/DD')
		order
		by
		p_startDate
		]]>
	</select>

	<select id="playExpectedList"
		resultType="com.marroticket.umember.play.domain.PlayVO">
		<![CDATA[
		SELECT p_poster,
		p_name,
		p_theaterName,
		p_startDate,
		p_closeDate,
		p_runningtime
		FROM Play
		WHERE
		to_Date(p_startDate,'YYYY/MM/DD') >= to_Date(sysdate,'YYYY/MM/DD')
		order
		by
		p_startDate
		]]>
	</select>

</mapper>