<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marroticket.mapper.PlayMapper">


	<resultMap id="play"
		type="com.marroticket.umember.play.domain.PlayVO">
		<id property="PNumber" column="p_number" />
		<result property="pName" column="p_name" />
		<result property="pStartDate" column="P_STARTDATE" />
		<result property="pCloseDate" column="P_CLOSEDATE" />
		<result property="pRunningTime" column="P_RUNNINGTIME" />
		<result property="pTheaterName" column="P_THEATERNAME" />
		<result property="pTheaterAddress" column="P_THEATERADDRESS" />
		<result property="pAgency" column="P_AGENCY" />
		<result property="pRatings" column="P_RATINGS" />
		<result property="pCasting" column="P_CASTING" />
		<result property="pTicketOpenDate" column="P_TICKETOPENDATE" />
		<result property="pPlot" column="P_PLOT" />
		<result property="pSeatNumber" column="P_SEATNUMBER" />
		<result property="pTicketPrice" column="P_TICKETPRICE" />
		<result property="pGenre" column="P_GENRE" />
		<result property="pPosterUrl" column="P_POSTERURL" />
		<result property="pAgree" column="P_AGREE" />
		<result property="pModifyApproval"
			column="p_MODIFYAPPROVAL" />
		<result property="pRegistrationApproval"
			column="p_REGISTRATIONAPPROVAL" />
		<result property="tNumber" column="T_NUMBER" />
		<result property="pFirstStartTime" column="P_FirstStartTime" />
		<result property="pSecondStartTime" column="P_FirstStartTime" />
	</resultMap>


	<select id="playCurrentList"
		resultMap="play">
		<![CDATA[ select
		 P_POSTERURL,
		p_number,
		p_name, 
		p_theaterName, 
		p_startDate, 
		p_closeDate, 
		p_runningtime 
		from Play 
		where p_closeDate >= sysdate and sysdate >= p_startDate and P_REGISTRATIONAPPROVAL = '0'
		order by p_startDate ]]>
	</select>

	<select id="playPassList"
		resultMap="play">
		<![CDATA[
		SELECT 
		P_POSTERURL,
		p_number,
		p_name,
		p_theaterName,
		p_startDate,
		p_closeDate,
		p_runningtime
		FROM Play
		WHERE sysdate >= p_closeDate and P_REGISTRATIONAPPROVAL = '0'
		order
		by
		p_startDate
		]]>
	</select>
	
	<select id="playExpectedList"
		resultMap="play">
		<![CDATA[
		SELECT 
		 P_POSTERURL,
		p_number,
		p_name,
		p_theaterName,
		p_startDate,
		p_closeDate,
		p_runningtime
		FROM Play
		WHERE p_startDate >= sysdate and P_REGISTRATIONAPPROVAL = '0'
		order
		by
		p_startDate
		]]>
	</select>

	<!-- <select id="quickReserve" resultType="com.marroticket.umember.play.domain.PlayVO"> 
		<![CDATA[ SELECT P_NAME, P_FIRSTSTARTTIME, P_SECONDSTARTTIME FROM PLAY WHERE 
		p_startDate <= sysdate and sysdate <= p_closeDate order by p_name]]> </select> -->

	<!-- 미리보기 이미지 표시 -->
	<select id="getPposter" resultType="String">
		SELECT p_posterUrl
		FROM play
		WHERE p_number = #{PNumber}
	</select>

	<!-- 극단 등록한 연극 목록 -->
	<select id="playlist" resultMap="play">
		<![CDATA[
			SELECT 	*
			FROM play p LEFT OUTER JOIN tmember tmem ON p.t_number = tmem.t_number
			WHERE p.t_number = #{tNumber}
			ORDER BY p_number DESC
		]]>
	</select>
	
	<!-- 극단 등록한 연극 상세보기 -->
	<select id="read" resultMap="play">
		<![CDATA[
			SELECT *
			FROM play
			WHERE p_number = #{pNumber}
		]]>
	</select>
	
	<!-- 극단 등록한 연극 수정 -->
	<update id="modify">
		UPDATE play
		SET p_name=#{pName},
			P_STARTDATE=#{pStartDate},
			P_CLOSEDATE=#{pCloseDate},
			P_RUNNINGTIME=#{pRunningTime},
			P_THEATERNAME=#{pTheaterName},
			P_THEATERADDRESS=#{pTheaterAddress},
			P_AGENCY=#{pAgency},
			P_RATINGS=#{pRatings},
			P_CASTING=#{pCasting},
			P_TICKETOPENDATE=#{pTicketOpenDate},
			P_PLOT=#{pPlot},
			P_SEATNUMBER=#{pSeatNumber},
			P_TICKETPRICE=#{pTicketPrice},
			P_GENRE=#{pGenre},
			p_MODIFYAPPROVAL=#{pModifyApproval},
			p_REGISTRATIONAPPROVAL=#{pRegistrationApproval}
		WHERE p_number=#{pNumber}
	</update>

</mapper>